@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraLight.woff2") format("woff2"), url("../fonts/Poppins-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraBold.woff2") format("woff2"), url("../fonts/Poppins-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.woff2") format("woff2"), url("../fonts/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --blue-color: #0000ff;
  --indigo-color: #6610f2;
  --purple-color: #6f42c1;
  --pink-color: #d63384;
  --red-color: #ff4148;
  --orange-color: #fd7e14;
  --yellow-color: #ffc107;
  --green-color: #27ae60;
  --teal-color: #20c997;
  --cyan-color: #21e8df;
  --black-color: #000000;
  --white-color: #ffffff;
  --gray-color: #979797;
  --gray-dark-color: #343a40;
  --gray-100-color: #f8f9fa;
  --gray-200-color: #e9ecef;
  --gray-300-color: #dee2e6;
  --gray-400-color: #ced4da;
  --gray-500-color: #adb5bd;
  --gray-600-color: #6c757d;
  --gray-700-color: #495057;
  --gray-800-color: #343a40;
  --gray-900-color: #212529;
  --primary-color: #12256d;
  --secondary-color: #f8e80e;
  --success-color: #27ae60;
  --info-color: #0dcaf0;
  --warning-color: #ffc107;
  --danger: -color var(--red);
  --light-color: #f8f9fa;
  --dark-color: #212529;
  --gradient-color: linear-gradient(to right, #4851a8, #582a9b);
  --body-font-family: "Poppins";
  --body-font-size: 14px;
  --body-font-weight: 400;
  --body-line-height: 22px;
  --body-color: #ffffff;
  --body-bg: #04041e;
  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-black: 900;
  --font-style-italic: italic;
  --border-width: 1px;
  --border-style: solid;
  --border-color: #acacac;
  --border-radius: 3px;
  --link-color: #000000;
  --link-hover-color: var(--secondary-color);
}

body {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
   line-height: var(--body-line-height); 
  color: #666666;
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
  position: relative;
  min-height: 100%;
  background-color: #0e191e;
}

.sticky-footer {
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
  position: relative;
  min-height: 100%;
  padding-bottom: 60px;
  background-color: var(--body-bg);
}

.container {
  width: 1200px; 
  padding: 0px 0px;
}

html {
  height: 100%;
}

ul,
li,
span,
img,
p,
figure,
img,
ol,
strong,
h1,
h2,
h3,
h4,
h5,
h6,
div,
a {
  margin: 0px;
  padding: 0px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* .container{
  width: 100%;
  height: 100%  ;
  
} */

*::-webkit-scrollbar {
  /* width: 5px; */
  /* height: 8px; */
  display:none;
}
/* 
::-webkit-scrollbar-track {
  background-color: #115b9718;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #115b9718;
  border-radius: 9px;
  width: 5px;
} */









/* ///////////////////////////////////////////////////////// */

/* 
* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
}

#container {
  height: 400px;
  width: 1200px;
  position: relative;
  overflow: hidden;
}

#container #dino {
  height: 70px;
  width: 70px;
  position: absolute;
  bottom: 28px;
  left: 20px;
}

#container #dino img {
  height: 70px;
  width: 70px;
}

.dinoActive {
  animation: animateDino 0.5s linear infinite;
}

@keyframes animateDino {

  0%,
  100% {
      bottom: 28px;
  }

  45%,
  55% {
      bottom: 160px;
  }
}

#container #block {
  height: 80px;
  width: 125px;
  position: absolute;
  bottom: 20px;
  right: -20px;
}

#container #block img {
  height: 80px;
  width: 125px;
}

.blockActive {
  animation: blockAnimate 10s linear infinite;
}

@keyframes blockAnimate {
  0% {
      right: -125px;
  }

  100% {
      right: 100%;
  }
}

#container #road {
  height: 30px;
  width: 1200px;
  position: absolute;
  bottom: 0;
}

#container #road img {
  height: 30px;
  width: 2000px;
  position: absolute;
  left: 0;
  animation: none;
}

@keyframes roadAnimate {
  0% {
      left: 0;
  }

  100% {
      left: -800px;
  }
}

#container #cloud {
  height: 80px;
  width: 1200px;
  border-radius: 40px;
  position: absolute;
  top: 30px;
}

#container #cloud img {
  height: 80px;
  width: 2000px;
  position: absolute;
  left: -2000px;
  animation: none;
}

@keyframes cloudAnimate {
  0% {
      left: -2000px;
  }

  100% {
      left: 100%;
  }
}

#score {
  height: auto;
  width: auto;
  position: absolute;
  top: 20px;
  right: 0;
}

#gameOver {
  display: none;
  font-size: 70px;
  position: absolute;
  left: calc(50% - 181px);
  top: calc(50% - 40px);
  width: 362px;
  height: 80px;
  color: #525252;
}

.dino-jump {
  animation: jumpAnim 0.3s ease-out forwards;
}

@keyframes jumpAnim {
  0% { bottom: 20px; }
  50% { bottom: 90px; }
  100% { bottom: 20px; }
} */



/* ///////////////////////////////////////////////////////////////// */
/* // amazon */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  min-height: 100vh;
  background-color: rgb(226, 224, 224);
}
a{
  text-decoration: none;
}

header{
  width: 100%;
  /* padding: 10px 4px; */
}
header .navbar{
  display: flex;
 
  align-items: center;
  width: 100%;
  background:#131921 ;
  color: #fff;

}
header .navbar .logo{
 width: 200px;
 height: 50px;


}
.border-box:hover{

  border: 2px solid #fff !;
  }
img{
  width: 100%;
  height: 100%;
}


.ad-box{
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
  text-transform: capitalize;
}
.ad-box h4{
  font-size: .85rem;
  letter-spacing: -1px;
}
.ad-box h5{
  font-size: .7rem;
}
.icon{
 margin-top: 8px;
 margin-right: 5px;
}
.address{
display: flex; 
position: relative;
width: 180px;
height: 100%;
padding: 5px ;
margin: 0 10px;

}
.search-box{
  display: flex;
  border: 2px solid orange;
  border-radius: 5px;
  overflow: hidden;
  width: 600px;

}
select{

border: 1px solid #fff;

  padding:5px  ;
  outline: none;
}
.serarch-icon{
  background-color: orange;
  padding:0 10px ;
  display: flex;
  justify-content: center;
  align-items: center;
}
input{
padding:10px 5px;
border: none;
outline: none;
font-size: 1rem;
width: 100%;

}
.language{
  display: flex;
margin: 0 10px;
width: fit-content;
padding: 10px 5px ;
position: relative;

  
}

/* // language popup box start  */
.language-select-box{
  width: 230px;
  height: auto;
  color: #000;
  padding: 10px 0 10px 15px;
  background-color: #fff;
  position: absolute;
  top:45px;
  /* right: 202px; */
  text-transform: capitalize;
/* display: none; */
z-index: 10;


}
/* .language:hover .language-select-box{
  display: block;
} */
.language-select-box.active{
  display: none;
}
.trian{
position: absolute;
top: -35px;
width: 0;

left: 28px;

border-left: 10px solid transparent;
border-right: 10px solid transparent;
border-bottom: 10px solid #fff;

}

.language-select-box .top-lag{
display: flex;
border-bottom: 1px solid rgb(168, 167, 167);
padding-bottom: 10px;
position: relative;
}
.language-select-box .middle-lag{
  border-bottom: 1px solid rgb(168, 167, 167);
  padding: 7px 0;

}
.language-select-box .m-l-b{
 margin: 10px 0;
 font-size: .9rem;
 letter-spacing: 1px;
display: flex;

}
.language-select-box .m-l-b a{
color: rgb(0, 110, 255);

}
.language-select-box .circle{
width: 18px;
height: 18px;
border: 1px solid #000;
border-radius: 10px;
margin-right: 5px;
margin-bottom: 5px;
position: relative;
display: flex;
justify-content: center;
align-items: center;
}
.language-select-box .circle .cir{
 
  width: 60%;
  height: 60%;
  border-radius: 50%;
  background-color: orange;
  position: absolute;
  top: 3px;
  left: 3px;
}

.language-select-box .m-l-b:hover {
  text-decoration: underline;
  color: orange;
  cursor: pointer;

}
.language-select-box .m-l-b:hover .circle::after{
content: "";
width: 50%;
height: 50%;
border-radius: 50%;
background-color: orange;
position: absolute;
top: 4px;
left: 4px;
}
.language-select-box .bottom-lag a{
  padding: 10px 0;
  font-size: .8rem;

      color: rgb(0, 110, 255);
      
     
}
.language-select-box .bottom-lag {
  padding: 10px 0;
  font-size: .8rem;

    
      
     
}
.language-select-box .bottom-lag .b-text{
 margin-bottom: 8px;
}

header .navbar .language img{
  width: 15px;
  margin-top: 2px;
  height: 15px;
}
.show-text{
  font-weight: bold;
  margin-left: 2px;
}
.down{
margin-top: 4px;
margin-left: 3px;
}
.sign-in{
  padding: 5px ;
  display: flex;
  height: 100%;

  width:fit-content;
  margin: 0 10px;
  position: relative;
}

/* // sign in  popup box start  */
.sign-select-box{
  
  width: 500px;
  height: auto;
  padding: 20px;
  background-color: #fff;

  position: absolute;
  top: 45px;
  right: -120px;
  text-transform: capitalize;
  color: #000;
  /* display: none; */

z-index: 10;
}
/* .sign-in:hover .sign-select-box{
  display: block;
} */
.sign-select-box.active{ 
display: none;

}
.sign-select-box .top-part-sel{
width: 100%;
/* padding:  10px ; */
border-bottom: 1px solid #cecdcd;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
position: relative;

}
.sign-select-box .top-part-sel .trian2{
  position: absolute;
  top: -28px;
  width: 0;

  right: 100px;

border-left: 9px solid transparent;
border-right: 9px solid transparent;
border-bottom: 9px solid #fff;

}
.sign-select-box .top-part-sel button{
  width: 200px;
  border-radius: 5px;
  text-transform: capitalize;

padding: 10px 40px;
font-size: .9rem;
border: 1px solid rgb(255, 123, 0);
background-color: rgb(231, 177, 0);
color: #000;

margin-bottom: 5px;

}
.sign-select-box .top-part-sel p{
  margin-top: 5px;
 margin-bottom: 10px;
 text-align: center;
 font-size: .7rem;

}
.sign-select-box .top-part-sel p a{
  color: rgb(0, 110, 255);

}
.sign-select-box .top-part-sel p a:hover{
 color: orange;
}
.sign-select-box .l-r-box-wrap{
display: flex;
padding: 10px 0;
}
.sign-select-box .l-r-box-wrap h3{
margin-bottom: 5px;
}
.sign-select-box .l-r-box-wrap li{
list-style: none;
font-size: .9rem;
margin: 8px 0;

}
.sign-select-box .l-r-box-wrap li:hover{
  color: orange;
  cursor: pointer;
}
.sign-select-box .l-r-box-wrap .left-part-sel{
width: 50%;
border-right: 1px solid #cecdcd;
}
.sign-select-box .l-r-box-wrap .right-part-sel{
width: 50%;
margin-left: 40px;

}




.sign-in .down{
  margin-top: 14px;
  margin-left:5px;
}
.order {

width: fit-content;

padding:5px;
}
.cart{


  width: fit-content;
  display: flex;
  margin: 0 10px;
}

.cart-box{
  position: relative;
  
  padding:   5px;
  
}
.cart-box i{
 font-size: 2rem;
}
.value{
  position: absolute;
  top: 2px;
  font-weight: bold;
  left: 20px;
  font-size: 1.3rem;
  color: orange;

}
.cart h4{
  margin-top: 13px;
  text-transform: capitalize;
  font-size: 1rem;
}

/* second navbar style start  */
.second-nav{
  background-color: #131921;
  

}
.second-nav ul{
display: flex;
list-style: none;
/* justify-content: center; */
align-items: center;

}
.second-nav ul li{

padding: 10px 3px;
height: 45px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;


}
.second-nav ul li .logo-second-nav{
width: 40px;
height: 40px;

}

.second-nav ul li a{
color: #fff;
margin: 0 6px;
text-decoration: none;
text-transform: capitalize;
font-weight: 600;
font-size: .9rem;

}
.second-nav ul li a .sp-1{
margin-right: 5px;


}
.second-nav ul li a.im-logo{
display: flex;
/* justify-content: center; */
font-size: 1rem;
align-items: center;

margin-left: 10px;




}

.second-nav ul  li:hover{
  /* padding:  5px; */

  border: 1px solid #fff;
    
  }

  /* main body section start  */
  .main-body-section{
      position: relative;
      width: 100%;

      overflow: hidden;
      
  }
  .font-face{
      min-height:88vh;
      position: relative;

  }
  .slider-product-body{
      position: absolute;
top: 0;

      width: 100%;
      
  }
  .slider-product-body .image-box{
      width: 100%;
      height: 88vh;
  }
  .slider-product-body .image-box img{
      z-index: -1;
    width: 100%;
    height: 100%;
  }
 
  
  .prev-swiper::after,
  .next-swiper::after{
      content: '';
      position: absolute;
      top: -320px;

padding: 100px 30px;
 
    
      
      
  }
 
  .prev-swiper:hover::after,
  .next-swiper:hover::after{
      border: 2px solid blue;
 
    
      
      
  }
  .prev-swiper::after
  {
      margin-left: 50px;
 
   

  }
  .next-swiper::after
  {
      margin-right: 50px;
 
   

  }
  .product-boxes{
  position: relative;
  transform: translateY(260px);
  top: 0;
  
  z-index: 1;
  width: 100%;
  height: auto;
  display: flex;
  /* justify-content: center; */
  align-items: baseline;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 20px;

 
  }
  .product-box{
      background-color: #fff;
   padding: 10px ;
      overflow: hidden;
      width: 330px;
      height: auto;
      display: flex;
      justify-content: center;
  
      flex-direction: column;
  }
  .product-box h3{
   /* text-align: center; */
   text-transform: capitalize;
   margin-bottom: 10px;
  }
  .p-s-box{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      /* align-items: center; */
      gap: 10px;
  }

  .p-s-box .s-product-img {
  margin: 15px 5px;
  width: 140px;
  height: 120px;
     
  }
  .p-s-box .s-product-img h6{
      font-size: .8rem;

     
  }
  .p-s-box .s-product-img img{
width: 100%;
height: 100%;
     
  }
  .p-s-box .full-s-p-img {
width: 350px;

height: 310px;
     
  }

  .last-link-btn{
      display: block;
      text-decoration: none;
      margin-top: 40px;
      text-align: left;
      color: green;

  }
  .llb{
      margin-top: 10px;
  }
  .last-link-btn:hover{
  color: red;
  text-decoration: underline;

  }
  .s-btn{
      width: 80%;
   
      border-radius: 5px;
      text-transform: capitalize;
  
  padding: 8px 40px;
  font-size: .9rem;
border: none;
margin: 10px auto;
  background-color: rgb(255, 239, 9);
  color: #000;
  border-radius:10px ;
  

  }

  .product-boxes2{
      position: relative;
   
    margin: 20px 0;
      
      z-index: 1;
      width: 100%;
      height: auto;
      display: flex;
      /* justify-content: center; */
      align-items: baseline;
      flex-wrap: wrap;
      gap: 20px;
      padding: 0 20px;
  
     
      }
  
  /* main body section end */
  /* second section desing start  */
  
  .new-products-item{
      width: 100%;
      height: auto;
      padding: 10px 20px;
      overflow: hidden;
  }
  .product-boxes-slider-item{
      background: #fff;
      padding: 20px;
      position: relative;
  }
  .product-boxes-slider-item .slider-box{
 width: 100%;
padding: 20px 10px;
overflow: hidden;
display: flex;
align-items: center;
justify-content: center;
  }
  .product-boxes-slider-item .slider-box .slider-item{

width: 250px;
height: 250px;
overflow: hidden;
/* border: 2px solid red; */
/* margin: 5px; */

}
.product-boxes-slider-item .slider-box .slider-item .img-box{
  width: 250px;
  background-color: rgb(243, 243, 245);
height: 180px;
display: flex;
  }
.product-boxes-slider-item .slider-box .slider-item .img-box img{
  width: 200px;
  margin: 0 auto;
height: 180px;
object-position: center;


  }
  .product-boxes-slider-item .slider-box .slider-item .item-detail{
background: #fff;
margin-top: 10px;
  }
  .product-boxes-slider-item .slider-box .slider-item .item-detail .discount-box{
background: red;
display: inline-block;
padding: 5px;
font-size: .8rem;
  }
  .product-boxes-slider-item .slider-box .slider-item .item-detail span{


padding: 5px;
font-weight: bold;
color: red;
font-size: .9rem;
text-transform: capitalize;
  }
  .product-boxes-slider-item .slider-box .slider-item .item-detail h3{
font-weight: normal;
font-size: .9rem;
text-transform: capitalize;
margin-top: 5px;
  }
  /* second section desing end */
  .left-target{
      width: 50px;
      height: 100px;
      background: #fff;
      /* background: #000; */
      box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
      border: 1px solid gray;
      position: absolute;
      left: 20px;
      z-index: 1;
      
  }
  .right-target{
      width: 50px;
      height: 100px;
      background: #fff;
      /* background: #000; */
      box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
      border: 1px solid gray;
      position: absolute;
      right: 20px;
      z-index: 1;
  }
 
 
  .swiper2-prev-btn::after,.swiper2-next-btn::after{
   transform: scale(0.6);

   font-size: 10px;
   font-weight: bold;
   color: #000;
   
  }
  .section-part-2{
      padding: 10px 20px;
  }
  .slider-product-box{
      background-color: #fff;
      padding: 20px;
    margin: 15px 0;

  }
  .product-s-b-p{
      width: 100%;

      overflow-x:  hidden;
      height: 320px;
      
      margin: 10px 0;
      display: flex;
      align-items: center;
      position: relative;
  }
  .product-s-b-p2{
      width: 100%;

      overflow-x:  hidden;
      height: 215px;
      margin: 10px 0;
      display: flex;
      align-items: center;
      position: relative;
  }
  .product-s-b-p .p-slide-box{
   width: 240px;
   height: 240px;
   /* border: 2px solid red; */
   margin: 0 5px;
  }
  .p-s-b-info{
      margin-top: 5px;
  }
  .t-info span{
      background: red;
      padding: 5px;
      color: #fff;

  }
  .t-info{
      margin-bottom: 5px;
  }
  .t-info a{
  color: red;

      padding: 5px;
  }
  .b-info{
      margin-top: 5px;
      text-transform: capitalize;
      font-size: .9rem;
  }
  .product-s-b-p .p-slide-box2{
   width: 150px;
   height: 200px;
   /* border: 2px solid red; */
   margin: 0 5px;
  }
  .title h2 a {
      font-size: 1rem;
      margin-left: 5px;
      color: rgb(34, 62, 198);
  }
  .s-b-l{
      width: 50px;
      height: 100px;
      background-color: #fff;
      position: absolute;
      left: 0;
      z-index: 10;
      cursor: pointer;
  }
  .s-b-r{
      width: 50px;
      height: 100px;
      background-color: #fff;
      position: absolute;
      right: 0;
      z-index: 10;
      cursor: pointer;
  }
  .s-b-btn::after{
      transform: scale(.7);
      color: #000;
      font-weight: bold;
  }
  .s-s-slide{
      width: 100%;
position: absolute;
bottom: 0px;


  }
  .product-boxes-r{
      padding: 0 ;
  }

/* add section  */
.add-section{

  width: 70%;
  height: 260px;
  margin: 30px auto;

 
}
.signin-box-last{
  background: #fff;
  padding: 40px 0;
  
}
.s-b-last{
  width: 100%;
  border-top:1px solid #ccc ;
  border-bottom:1px solid #ccc ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}
.s-b-last h5{
  text-transform: capitalize;
  margin-bottom:5px;
  font-size: .9rem;
  letter-spacing: 1px;
  font-weight: normal;

}
.s-b-last .btn{
  width: 20%;
   
  border-radius: 5px;
  text-transform: capitalize;

padding: 8px 40px;
font-size: .9rem;
font-weight: bold;
margin: 10px auto;
background-color: rgb(255, 206, 9);
color: #000;
border-radius:10px ;

}
/* backto top  */
.back-to-top{
  width: 100%;
}
.b-t-top{
  width: 100%;
  background: #37475A;
  padding: 15px;
  text-align: center;
  color: #fff;
  border:2px solid #232f3e;
}
.footer-section{
  background: #232f3e;
 
}
.footer-container{
  display: flex;
  justify-content: center;
  padding: 40px 20px; 
  color: #fff;

}
.footer-container .f-h-c{
width: 200px;

margin: 0 30px;

}
.footer-container .f-h-c h3{
text-transform: capitalize;
margin-bottom: 10px;

}
.footer-container .f-h-c ul {
list-style: none;

}
.footer-container .f-h-c ul li {

margin: 10px 0;


}
.footer-container .f-h-c ul li a{
color: #fff;
font-size: .9rem;
text-transform: capitalize;

}
.footer-container .f-h-c ul li a:hover{
text-decoration: underline;

}
.footer-container-2{
  border-top: 1px solid #aaa;
  padding-top: 20px;
  padding-bottom:50px ;
}
.footer-container-2 .f-t-top{
 display: flex;
 color: #fff;
 justify-content: center;
 /* padding-top: 10px; */
 margin-bottom: 40px;
}
.logo{
margin-right: 30px;
}
.select-lang-box{
border: 1px solid #fff;
padding: 5px 10px;
cursor: pointer;
position: relative;
}
.select-lang-box:hover .language-select-box{
display: block;
}
.f-b-bottom ul{
  display: flex;
  color: #fff;
  justify-content: center;
  list-style: none;

}
.f-b-bottom ul li{
 margin: 0 10px;
 font-size: .9rem;


}
.last-footer-info{
    /* text-align: center; */
    
    color: #fff;
    padding: 50px;
    background: #0F1111;
  
  
  }
  .l-footer-link{
      display: flex;
      justify-content: center;
      
  }
  .l-f-i-part {
      width: 200px;

  }
  .l-f-i-part ul{
  
list-style: none;
  }
  .l-f-i-part ul li{
  
margin: 10px 0;
  }
  .last-footer-info p { 
      text-align: center;
      border-top: 1px solid #aaa;
      margin-top: 20px;
      padding: 10px;
  }



  /* school //////////////////////////////////////////////////////////////// */

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Ubuntu:wght@300&display=swap');
*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    min-height: 100vh;
    /* min-width: 100vw; */
    background: #fff;
    font-family: 'Montserrat', sans-serif;
}


/* new heading  */
.newheading{
    font-size: 60px;
    font-weight: bold;
margin-left: 80px;
padding:25px 20px ;
    font-family: sans-serif;
    background-color: #e79015;
    background-image: linear-gradient(to right, #fbbf9c,
    #f0f765,#d49400   100%);
    background-size:100% ;
    background-clip: text;
   -webkit-text-fill-color: transparent;
  
}
.newheading span{
    font-size: 25px;
}
.greater-than{
    transform: rotate(90deg);
  position: relative;
  top: 2px;
   padding: 0 10px;
}

/* navbar  css */
header{
    width: 100%;
  position: sticky;
 top: 0;
 z-index: 1;
   
    
}
.navbar{
    background: rgb(240, 130, 12);
    height: 80px;
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 1.2rem;
 
    z-index: 999;

}

.navbar-menu{
    display: flex;
    align-items: center;
    
    font-weight: bold;
    height: 80px;

}
.navbar-item{
list-style: none;
    transition: all 0.3s ease;
   
/* height: 100%; */

}
.navbar-item:hover{
    background: rgb(185, 99, 42);
   
}
.navbar-links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
   font-size: 1em;
    z-index: -1;
    text-decoration: none;
    height: 100%;
    text-transform: capitalize;
    transition: all 0.3s ease;
    width: 140px;
    padding: 18px 0;
}


/* .navbar-links:hover{
    color: #000000;
transition: all 0.3s ease;
} */


.social-links{
  display: flex;
  position: relative;
 left: 0;
  z-index: 1;
}

.fa-brands{
   color: #fff;
    margin: 0 13px;
}
/* navbar dropdown css start  */

/* The container <div> - needed to position the dropdown content */

 
  .dropdown {
    /* padding: 20px 40px; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  
    position: relative;
    font-size: 18px;

    perspective: 1000px;
    z-index: 100;
  }
  .dropdown:hover {
 
    background: rgb(185, 99, 42);

    cursor: pointer;
  }
  .dropdown:hover .dropdown_menu li {
    display: block;
  }
  .dropdown_menu {
    position: absolute;
    top: 100%;
    left: 0;
    Min-width: 250px;
    perspective: 1000px;
    z-index: -1;
  }
  .dropdown_menu li {
    display: none;
    background: rgb(185, 99, 42);
    border-bottom: 1px solid #fff;
    z-index: 1;
    padding: 10px 20px;
    opacity: 0;
  }
  .dropdown_menu li a {
   text-decoration: none;
   color: #fff;
   width: 100%;
   font-size: 16px;
   text-align: center;
  }
  .dropdown_menu li:hover {
    background: rgb(240, 130, 12);
  }
  .dropdown:hover .dropdown_menu--animated {
    display: block;
  }
  .dropdown_menu--animated {
    display: none;
  }
  .dropdown_menu--animated li {
    display: block;
    opacity: 1;
  }
 
  .dropdown_menu-7 {
    animation: rotateMenu 450ms ease-in-out forwards;
   
    transform-origin: top center;
  }
  

  @keyframes rotateMenu {
    0% {
      transform: rotateX(-90deg);
    }
    70% {
      transform: rotateX(20deg);
    }
    100% {
      transform: rotateX(0deg);
    }
  }
  
  /* new drop down end */
  
 
/* navbar dropdown css end  */
/* navbar end css   */
 /* responsive navbar css media query :start */


@media screen and (max-width:900px) {



    .dropdown_menu {
        position: relative;
       
      
      }
    .navbar-menu{
        display: grid;
        grid-template-columns:auto ;
       
        width: 100%;
  
        position: absolute;
top: -1000px;
       left: 0;
      opacity: 1;

        transition: all 0.5s ease;
        z-index: -1;
        background: rgb(240, 130, 12);
    }
    .navbar-menu.active{
        background: rgb(240, 130, 12);
        top: 100%;
        left:0px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 75vh;
        font-size: 1.6rem;
      
        
    }

    /* #navbar-logo{
        padding-left: 25px;

    } */
    .navbar-toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
        display: block;
        cursor: pointer;
    }
    .navbar-item{
        width: 100%;
        padding: 0;

    }
    .navbar-links{
        text-align: center;
        /* padding: 1rem; */
        width: 100%;
        display: table;
        margin: 0;
    }
    .navbar-toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
        display: block;
        cursor: pointer;
    }
    #mobile-menu{
        position: absolute;
        top: 20%;
        left: 5%;
        transform: translate(5%,20%);
    }
    #mobile-menu.is-active .bar:nth-child(2){
opacity: 0;

    }
    #mobile-menu.is-active .bar:nth-child(1){
transform: translateY(8px) rotate(45deg);

    }
    #mobile-menu.is-active .bar:nth-child(3){
transform: translateY(-8px) rotate(-45deg);

    }
    .logo a{
        text-decoration: none;
        color: #fff;
            font-size: 30px;
           
    
     
    }

}



 /* responsive footer css media query :end */

/* section1 css start   */
.section1{
/* width: 100vw; */
    height: 70vh;
  
    z-index: -1;
}
.section1-box{
/* width: 100vw; */
    height: 70vh;
    position: relative;
    /* margin: auto; */
  
   
}
.myslides1{
    display: none;
   
}


/* Slideshow img */

.section1  img {
    width: 100%;
    height:70vh;
    
   

}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background: #000;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a grey background color */
  .prev:hover, .next:hover {
    background-color: #f1f1f1;
    color: black;
  }
/* section1 css end   */
/* section2 css start   */
.section2{
    position: relative;
top: 0;

    width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;

    background: rgba(0, 0, 0, 0.01);
    padding: 20px 1px;
    z-index: -1;
    
 

}
.section2-box{
    width: 500px;
   height: 600px;
  
   margin: 10px;
   display: flex;
   flex-direction: column;
 
 padding: 0px 20px;
   border-radius: 3px;

  
}
.light{
    background: rgb(240, 130, 12);
    color: #fff;
    letter-spacing: 1px;
    padding: 40px;
    z-index: -1;
   
}
.section2-heading{
    font-size: 1.5em;
    padding: 10px 0;
    font-weight: bold;
   
}
.section2-text{
    font-size: 1.1em;
    padding: 10px 0;
  
   
}
.section2-readmores a{
    text-decoration: none;
    font-size: 1.1em;
    color: #fff;
    
    
}
.section2-readmore a{
 
  color: red;
  text-decoration: none;
  font-weight: bold;
    
}
.section2-img img{
    height: 330px;
    width: 100%;
}
.section2-box-heading{
    font-size: 1.1em;
    font-weight: bold;
    color: red;
    margin: 5px 0;
}
.section2-box-text{
 margin: 10px 0;
 letter-spacing: 1px;
}

/* section2 css end   */
/* section3 css start   */
.section3{
    margin: 40px 0px;
    width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
position: relative;
top: 0;
    background: rgba(241, 235, 235, 0.809);
    padding: 40px ;
    z-index: -1;
    
}
.section3-box{
    /* border: 1px solid #000; */
    margin: 0 10px;
    width: 90%;
    height: 400px;
    text-align: center;
}
.section3-box .img img{
    height: 300px;
    width: 100%;
}
.section3-box span{
    display: block;
}
/* section3 css end   */
/* section4 css start   */
.section4{
    margin: 40px auto;
    width: 80vw;
/* display: flex;
justify-content: center;
align-items: center; */

background: rgba(0, 0, 0, 0.01);
    padding: 40px ;
    z-index: -1;
    text-align: center;
   border-bottom: 1px solid rgba(0, 0, 0, 0.3);

    
}
.section4-box{
  border-radius: 6px;
    margin: 16px 20px;
    width: 310px;
    height: 100px;
    text-align: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    transition: .2s;
    color: #fff;
}
.section4-box:hover{
box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5) ;
}
.section4-box-heading{
    font-size: 1.5em;
}
.section4-box-heading span{
    font-size: 0.7em;
    margin: 8px 0;
}
.section4-box-part1{
    display: flex;
   
    /* flex-direction: column; */
}
.box2{
    background: darkblue;
}
.box3{
    background: green;
}
.box4{
    background: coral;
}
.box5{
    background:darkcyan;
}
.box6{
    background:darkslateblue;
}
span{
    display: block;
}

/* section4 css end   */
@media screen and (max-width:900px){
    .section1 {
        height: 300px;
    }
    .section1 img{
        height: 300px;
    }
    .section2{
    
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: -1;
    
    }
    .section2-box{
      width: 90vw;
height: auto;      
    }
    .section2-img img{
        width: 350px;
    }
    .light{
      
        height: 300px;
    }
    .section3{
      
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: -1;
   
        
}
.section3-box{
    width: 60vw;
  }


.section4{
 display: flex;
 justify-content: center;
 align-items: center;

 flex-direction: column;
    
}
.section4-box{
    width: 60vw;
  }
   
}
@media screen and (max-width:1000px) {
    .navbar-links{
        font-size: .7em;
        width: 100px;
      
    }
    .greater-than{
       
       padding: 0 5px;
    }
    .social-links{
        display: none;
    }
}
@media screen and (max-width:1150px) {
  
    .navbar-links{
        font-size: .9em;
        width: 115px;
        margin: 0 5px;
      
    }
    .social-links
    {
      
       display: none;
    }
    .section4-box{
        width: 260px;
        align-items: center;
        /* margin: 10px ; */
        font-size: .9em;
    }
 
   .light{
       font-size: .8em;
   }
}


/* footer seciton css start  */
.footer-box{
    width: 100%;
padding: 40px;
background: rgb(240, 130, 12);
    color: #fff;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
 

}
.first-box{
    
width: 23%;
}
.text{
    margin: 15px 0;
    font-size: 1.2em;
}
span{
    letter-spacing: 1px;
}
.second-box{
    
    width: 55%;
}
.readmore{
    color: red;
    text-decoration: none;
    padding: 10px 0;
    margin-top: 20px;
}
.readmore:hover{
   color: rgb(68, 0, 255);
}
.footer-heading{
    font-size: 2.5em;
    padding: 10px 0;
}


.footer-box2{
    width: 100%;
    text-align: center;
  
    background: rgb(143, 75, 3);
padding: 12px 0;
color: #fff;
}

/* footer seciton css end  */
 /* responsive footer css media query :start */

 @media screen and (max-width: 900px) {

     .footer-box{
  flex-direction: column;
}
.first-box{
    width: 100%;
    margin: 12px 0;
}
.second-box{
    width: 100%;
    margin: 12px 0;
}
span{
    display: block;
}
.text{
    font-size: 1.1em;
}
 }
 /* responsive footer css media query :end */



/* readmore section css start  */
.readmorebox{
    position: relative;
    top: -20px;
    height: 40vh;
    background-color: aqua;
    z-index: -1;
    

}


.readmore-section2{
    display: flex;
    justify-content: space-around;
    width: 100%;
    min-height: 80vh;
}
.leftpart{
    width: 30vw;
    display: flex;
    flex-direction: column;
    
   
}
.section-heading{
    border-bottom: 1px solid #fff;
    box-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 20px 0;
}
.leftpart ul li{
    list-style: none;
    margin: 20px 0;
}
.leftpart ul li a{
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.2em;
    transition: .2s;
    
}
.leftpart ul li a:hover{
    color: aqua;
    
}
.fa-star{
    color: rgb(255, 123, 0);
    margin-right: 5px;
}
.rightpart{
    width: 60vw;
   
}
.rightpart .section-heading{
    font-size: 50px;
    padding: 5px 0;
    margin-bottom: 5px;
    color: rgb(116, 116, 233);
    font-weight: bold;
}
.section-text{
    margin: 20px 0;
    font-size: 1.2em;
}
.red{
    color: red;
    font-weight: bold;
}
.text-heading{
    font-size: 1.4em;
    font-weight: bold;
    color: #333;
    margin: 5px ;
}
.section-text-box{
    padding-bottom: 20px ;
}


/* readmore section css end  */

/* form design css start  */

.form-section{
    display: flex;
    justify-content: space-around;
    width: 100%;
    min-height: 80vh;
    flex-wrap: wrap;
}
.form-body{
    width: 100%;
    position: relative;
  padding: 20px 0;
}
.form-box{
    margin: 15px 0;
   
}
.input-box{
    width: 100%;
    padding: 10px ;
 outline: none;
 border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin: 7px 0;
}
.message{
    width: 100%;
    height: 200px;
outline: none;
border: 1px solid rgba(0, 0, 0, 0.3);
border-radius: 5px;
margin: 7px 0;
padding: 10px ;
}
.btn{
    width: 100%;
    padding: 10px;
    font-size: 1.1em;
    border: 1px solid #d49400;
    background: transparent;
    font-family: sans-serif;
    border-radius: 5px;
    transition: 0.3s ease;
    text-transform: capitalize;
    cursor: pointer;
    color: #d49400;
}
.btn:hover{
 background: #e79015;
 color: #fff;
 border: none;
 outline: none;
}

/* form design css end  */
/* form responsive css start  */
@media screen and (max-width : 900px) {
    .form-section{
        flex-direction: column;
        margin: 0 10px;
       
    }   
   
    .form-section-right{
        width: 90vw;
      
    }

}
/* form responsive css end  */
/* about section start   */
.about-section{

    
    display: flex;
    justify-content: space-around;
    width: 100%;
    
}
.about-img{
    width: 350px;
    height: 400px;
 
}

.about-img-box{
    display: flex;
    justify-content: space-between;
    height: 550px;
    
    
}
.section-img-text{
    margin-left: 20px;
}
.section-img-text{
position: relative;
top: -30px;
}
.caption{
    width: 100%;
    height: 450px;
 border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
   
  
}
.caption-text{
    width: 100%;

 border-bottom-right-radius: 10px;
 border-bottom-left-radius: 10px;
   text-transform: capitalize;
height: 40px;
font-size: 20px;
z-index: 1;
display: flex;
justify-content: center;
align-items: center;
}
.box-2{
    height: 400px;
}
.img-2{
    height: 300px;
}
.caption-2{
    height: 350px;
}
/* about section end   */
/* section show start css  */
.section-show{
    width: 100%;
    height: 40vh;
    background: gray;
    margin-bottom: 40px;
}
/* section show end css  */


/*  weather/////////////////////////////////////////////////////////// */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  background: #111;
}
img {
  max-width: 100%;
}
.weather-card {
  width: 90%;
  max-width: 450px;
  text-align: center;
  padding: 35px 30px;
  margin: 30px auto 0;
  border-radius: 20px;
  color: #fff;
  background: url("/assets/image/photo-bg.jpg");
}
.weather-card .search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 10px 25px 10px 14px;
    outline: none;
    background: #ebfffc;
    border: none;
    border-radius: 30px;
}
.weather-card .search input {
    width: 100%;
    height: 50px;
    font-size: 18px;
    color: #555;
    outline: none;
    background: #ebfffc;
    border: none;
}
.weather-card .search button {
    width: 30px;
    height: 50px;
    cursor: pointer;
    border: none;
    outline: 0;
    background: transparent;
    border-radius: 50%;
    margin-top: 5px;
}
.weather-card .search button i {
  font-size: 18px;
  color: #333;
}
.weather h1 {
  font-size: 80px;
  font-weight: 500;
  margin-top: -30px;
}
.weather h2 {
  font-size: 40px;
  font-weight: 400;
  margin-top: -25px;
}
.weather .weather-icon {
  width: 60%;
  height: 200px;
  padding: 10px;
}
.details {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.details .humi {
  filter: brightness(10000%);
}
.details img {
  width: 40px;
  height: 40px;
}
.details .info {
  margin-left: 10px;
}
.details .humidity,
.wind {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: -5px;
}
.col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  margin-top: -20px;
}

/* ======================= */
/* Mobile Responsive Start */
/* ======================= */

@media (max-width: 460px) {

  .details .humidity, .wind {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: -5px;
}

.weather h1 {
    font-size: 65px;
    font-weight: 500;
    margin-top: -30px;
}

.weather h2 {
    font-size: 33px;
    font-weight: 400;
    margin-top: -25px;
}

.weather-card .search input {
    width: 100%;
    height: 41px;
    font-size: 15px;
   
}

.weather-card .search {
    width: 100%;
    height: 42px;
    
}
}

@media (max-width: 420px) {

  .weather-card .search input {
    width: 100%;
    height: 35px;
    font-size: 15px;
   
}

.weather-card .search {
    width: 100%;
    height: 38px;
    
}

.weather h1 {
        font-size: 50px;
        font-weight: 500;
        margin-top: -30px;
    }

    .weather h2 {
        font-size: 27px;
        font-weight: 400;
        margin-top: -25px;
    }

    .details {
    display: flex;
    margin-top: 35px;
    padding: 0px;
}

.details .humidity, .wind {
        font-size: 13px;
        font-weight: 500;
        margin-bottom: -5px;
    }

    .weather-card{
      padding: 35px 5px;
    }

    .weather .weather-icon {
    width: 60%;
    height: 175px;
    padding: 10px;
}

}


/* ======================= */
/* Mobile Responsive End */
/* ======================= */
